body {
  background-color: #8bc34a;
  font-family: "Lato", sans-serif;
}

header {
  height: 10vh;
  width: 50vw;
  margin: 50px auto;
  text-align: center;
  color: #212121;
}

.article {
  height: 70vh;
  width: 70vh;
  margin: 20vh auto;
  border: 3px solid #689f38;
  position: relative;
}

.article-1 {
  height: 63vh;
}

.article-2 {
  height: 60vh;
}

.article-3 {
  height: 42vh;
}

.article-headline {
  border: 3px solid #689f38;
  background-color: #dcedc8;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  margin-top: 0px;
  z-index: 2;
  text-align: center;
}

.breaking-news {
  background-color: red;
  color: white;
}

.article-image-preview {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 70vh;
  z-index: 0;
}

.image-2 {
  margin-top: 20px;
}

.image-3 {
  margin-top: 60px;
}

.article-description {
  border: 3px solid #689f38;
  background-color: #dcedc8;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin-bottom: 0px;
  z-index: 2;
}

.article-quote {
  font-style: italic;
}

.article-learn-more {
  margin-bottom: 0px;
  font-size: small;
  color: black;
}

/* .background {
  background-image: url(media/table.webp);
  background-position: center;
  background-size: cover;
  padding: 20px 5px;
  color: black;
  height: 20vh;
}

.span {
  color: blue;
} */

/* .parent {
  border: 5px solid red;
  height: 500px;
  width: 500px;
  background-image: url(media/chair.jpg);
  position: relative;
}

.child {
  border: 3px solid green;
  background-color: pink;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
