body {
  background-image: url(media/chair.jpg); /* sets background image. if this does not fill the screen, it will repeat and fill the screen with an array of this image. */
}

.main-header {
  background-color: white;
  border: 2px solid red; /* Padding is the distance between the text and the border, while margin is the distnace between the border and the next element */
  height: 10vh;
  width: 50vw;
  margin: 20px auto;
}
